<div class="home-pro"> 
  <!-- PRO BANNER HEAD -->
  <div class="banr-head">
    <div class="container">
      <div class="row"> 
        
        <!-- CONTENT -->
        <div class="col-sm-7">
          <div class="text-area">
            <div class="position-center-center col-md-10">
              <h1> CodiJob!, la red social que indexa a los profesionales de CodiGo</h1>
              <h6>Busca a nuestros profesionales y conoce sus skills, proyectos personales, grupales, artículos, repositorios y más</h6>
            </div>
          </div>
        </div>
        
        <!-- FORM SECTION -->
        <div class="col-sm-5">
          <div class="login-sec"> 
            
            <!-- TABS -->
            <div class="uou-tabs">
              <ul class="tabs">
                <li class="active"><a href="#">Login</a></li>
              </ul>
              
              <!-- REGISTER -->
              <div class="content">
                <div id="log-in" class="active">
                  <form (submit)="login()">
                    <input type="email" name="email" placeholder="Email" [(ngModel)]="credentials.email">
                    <input type="password" name="password" placeholder="Contraseña" [(ngModel)]="credentials.password">
                    <button type="submit" (click)="login()">Login</button>
                    <div class="login-with"> <span>Or login with:</span> <a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-google"></i></a> <a href="#."><i class="fa fa-linkedin"></i></a> </div>
                    <div class="forget">Forgot your password? <a href="#.">Click Here</a></div>
                  </form>
                </div>
                
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- SERVICES -->
  <section class="services"> 
    
    <!-- SERVICES ROW -->
    <ul class="row">
      
      <!-- SECTION -->
      <li class="col-md-4">
        <div class="ser-inn">
        <i class="fa fa-globe"></i>
          <h4>Mantente en Contacto con tus Colegas</h4>
          <i class="fa fa-globe big"></i>
          <p>A través de CodiJob, chatea con los integrantes de tu equipo de trabajo o los egresados de los diferentes grupos de CodiGo</p>
        </div>
      </li>
      
      <!-- SECTION -->
      <li class="col-md-4">
        <div class="ser-inn">
          <i class="fa fa-book"></i>
          <h4>Entérate de las últimas actualizaciones tecnológicas en tu área.</h4>
          <i class="fa fa-book big"></i>
          <p>Las tecnologías de desarrollo, evolucionan muy rápido, en CodiJob, realizaremos publicaciones de articulos con las nuevas tendencias.</p>
        </div>
      </li>
      
      <!-- SECTION  -->
      <li class="col-md-4">
        <div class="ser-inn">
        <i class="fa fa-picture-o"></i>
          <h4>Realiza Publicaciones</h4>
          <i class="fa fa-picture-o big"></i>
          <p>Si tienes un perfil de profesional, realiza publicaciones sobre tus proyectos, artículos o eventuales oportunidades laborales que quieras compartir
            con tus colegas
          </p>
        </div>
      </li>
    </ul>
  </section>
  
  <!-- PRO SECTION -->
  <section class="pro-content">
    <div class="container-fluid">
      <div class="row"> 
        
        <!-- PRO IMAGE -->
        <div class="col-md-6 pro-inside" style="background:url(assets/images/pro-img-1.jpg) center center no-repeat;"></div>
        
        <!-- PRO CONTENT -->
        <div class="col-md-6 pro-inside">
          <div class="position-center-center col-md-6">
            <h1>Interactúa con otros profesionales</h1>
            <p> Mantente en contacto con todos los profesionales egresados de CodiGo.
                Chata con tus colegas y entérate de algunas oportunidades de emprendimiento.
            </p>
          </div>
        </div>
      </div>
    </div>
    
    <!-- PRO SECTION -->
    <div class="container-fluid">
      <div class="row"> 
        
        <!-- PRO TEXT -->
        <div class="col-md-6 pro-inside">
          <div class="position-center-center col-md-6">
            <h1>Colabora en los proyectos</h1>
            <p> Forma equipos de trabajo para desarrollar proyectos.</p>
            <p> Crea grupos y añade a otros integrantes para vuestros proyectos</p>
          </div>
        </div>
        
        <!-- PRO BACKGROUND -->
        <div class="col-md-6 pro-inside" style="background:url(assets/images/pro-img-2.jpg) center center no-repeat;"></div>
      </div>
    </div>
  </section>
  
  <!-- APP IMAGE -->
  <section class="app-images">
    <div class="container">
      <div class="row"> 
        
        <!-- TEXT -->
        <div class="col-md-6 text-center text-area">
          <h1>CodiJob en tu Smarthphone</h1>
          <p>Pronto tendrás CodiJob en tu Smatphone para mantenerte en contacto con la red de desarrollares más grande del Perú.</p>
          <a routerLink="/"><i class="fa fa-apple"></i> App Store</a>
          
          <a routerLink="/"><i class="fa fa-google"></i> Google Play </a>
        </div>
          
        
        <!-- APP IMAGE -->
        <div class="col-md-6 text-right"><img src="assets/images/app-img.png" alt="" > </div>
      </div>
    </div>
  </section>
  
  <!-- TESTIMONIALS -->
  <section class="clients-says">
    <div class="container">
      <h3 class="section-title">Lo que los usuarios dicen...</h3>
      <div class="testi">
        <div class="texti-slide"> 
          <!-- SLide -->
          <div class="clints-text">
            <div class="text-in">
              <p>"CodiJob es una buena propuesta para buscar desarrolladores exclusivamente, que sean egresados de CodiGo y que tengan el respaldo de Tecsup"</p>
            </div>
            <div class="avatar">
              <div class="media-left"> <a href="#."> <img src="assets/images/clients-avatar-1.jpg" alt=""> </a> </div>
              <div class="media-body">
                  <h6>un usuario feliz =)</h6>
                <span></span> </div>
            </div>
          </div>
          
          <!-- SLide -->
          <div class="clints-text">
            <div class="text-in">
              <p>Es interesante poder captar a profesionales altamente capacitados en el desarrollo que tengan respaldo de una institución tan grande como es Tecsup.
                No solo brinda confianza, sino tambien, crea exclusividad.
              </p>
            </div>
            <div class="avatar">
              <div class="media-left"> <a href="#."> <img src="assets/images/clients-avatar-1.jpg" alt=""> </a> </div>
              <div class="media-body">
                <h6>un usuario feliz =)</h6>
                <span></span> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- sponsors -->
  <div class="sponsors" style="background:url(assets/images/sponser-bg.jpg) no-repeat;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Nuestros Aliados</h3>
          <div class="sponsors-slider">
            <div class="item"><img src="https://codigo.edu.pe/wp-content/uploads/2018/10/logo-tecsup.png" alt="" class="img-responsive"></div>
            <div class="item"><img src="https://codigo.edu.pe/wp-content/uploads/2018/10/logo-visanet.png" alt="" class="img-responsive"></div>
            <div class="item"><img src="https://codigo.edu.pe/wp-content/uploads/2018/10/logo-utec.png" alt="" class="img-responsive"></div>
            <div class="item"><img src="https://codigo.edu.pe/wp-content/uploads/2018/10/sillabuz.png" alt="" class="img-responsive"></div>
            <div class="item"><img src="https://codigo.edu.pe/wp-content/uploads/2018/10/digital-factory.png" alt="" class="img-responsive"></div>
            <div class="item"><img src="https://codigo.edu.pe/wp-content/uploads/2018/10/Everis_logo.png" alt="" class="img-responsive"></div>
            <div class="item"><img src="https://codigo.edu.pe/wp-content/uploads/2018/10/Wunderman_logo.png" alt="" class="img-responsive"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>